.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px;
}

.menu_icon,
.phone_icon {
  height: 24;
  width: 24;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 50%;
  }
}
